body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 40px;
}

p {
  color: dimgray;
}

.top-banner {
  background-image: url("Images/top-banner.png");
  background-repeat: no-repeat;
}

.second-section {
  background-image: url("Images/dream-bg.png");
  background-repeat: no-repeat;
  background-position: right;
}

section {
  height: 500px;
  padding-bottom: 150px;
}

.orangered-highlight {
  color: orangered;
}

.half-width {
  width: 35%;
  float: left;
  margin-left: 5%;
  padding-left: 2%;
}

.half-width img {
  width: 100%;
}

.single-experience {
  box-shadow: 10px 10px 40px grey;
  border-radius: 5px;
  height: 85%;
  background-color: white;
}

.experience-area {
  background-image: url("Images/exp-bg.png");
  background-repeat: no-repeat;
  background-position: left;
}

.link-button {
  text-decoration: none;
  background-image: linear-gradient(45deg, orangered, lightsalmon);
  padding: 10px 20px;
  border-radius: 10px;
  color: white;
  font-weight: 700;
}

.link-button:hover {
  background-image: linear-gradient(45deg, lightsalmon, orangered);
}

#full-stack {
  border-left: 7px solid;
  border-image: linear-gradient(180deg, orangered, lightsalmon);
  border-image-slice: 1;
}

#junior {
  border-left: 7px solid;
  border-image: linear-gradient(180deg, blue, cyan);
  border-image-slice: 1;
}

footer p {
  text-align: center;
  font-size: 12px;
}
